html, body {
  height: 100%;
  width: 100%;
}


.background{
background-image: url(images/A_black_image.jpg.webp);

  
}

.text{
font-family: monospace;
color: purple;
text-align: center;
}

.textright{
font-family: monospace;
color: purple;
}

.img{
text-align: center;
  
}

.textbackground{
font-family: monospace;
color: black;
  background-color: purple;
  
}

.imgcurve{
text-align: center;
border

}

.video{
text-align: center;
}

.scarytext{
font-family: akronim;
color: purple;
text-align: center;
}

table, tr, td,th {
border:1px solid #1a7f38;
  color:purple;
}

button{
text-align: center;
  
}