html, body {
  height: 100%;
  width: 100%;
}


.background{
background-image: url(images/A_black_image.jpg.webp);

  
}

.text{
font-family: monospace;
color: purple;
text-align: center;
}

.textright{
font-family: monospace;
color: purple;
}

.img{
text-align: center;
border-radius: 8px;
}

.textbackground{
font-family: monospace;
color: black;
  background-color: purple;
  
}

